	<!--CUERPO DE ARBITROS-->
	<!--Modal descripción árbitro-->
	<div class="modal fade" tabindex="-1" role="dialog" id="arbitro">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h3 class="text-center">Nombre del árbitro</h3>
				</div>
				<div class="modal-body">
					<div>
						<img src="img/relleno_07.jpg">
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue elementum lorem, et aliquam est ornare eget. Proin condimentum facilisis purus vitae facilisis...
					</p>
				</div>
			</div>
		</div>
	</div>
	<!--Portada-->
	<div class="center-block secciones" data-uk-scrollspy="{cls:'uk-animation-scale-up'}">
		<div id="carousel-banner" class="carousel slide carousel-fade" data-ride="carousel">
			<!--Imagenes-->
			<div class="carousel-inner portada" role="listbox">
				<div class="item active" id="item_1"
					style="
					background-image: url(img/relleno_07.jpg);
					filter: blur(3px);
					-webkit-filter: blur(3px);
					-moz-filter: blur(3px);
					-o-filter: blur(3px);
					-ms-filter: blur(3px);
					">
				</div>
				<div class="carousel-caption cap">
					<h3>Lorem ipsum dolorem asimet</h3>
					<div class="bloque">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue elementum lorem, et aliquam est ornare eget. Proin condimentum facilisis purus vitae facilisis...
						</p>
					</div>
				</div>
			 </div>
		</div>
		<hr>
		<div class="center-block text-center">
			<h2>Quienes somos</h2>
		</div>
	</div>
	<!--Modulos-->
	<div class="wrapper">
		<!--Cuerpo de árbitros-->
		<section class="cuerpo_arbitros" data-uk-scrollspy="{cls:'uk-animation-scale-down'}">
			<div class="tab">Cuerpo de árbitros</div>
			<div class="contenedor">
				<div  class="row no_margen cuerpo">
					<article>
						<h3>Nuestro equipo de árbitros:</h3>
						<form>
							<input type="text" placeholder="buscar un nombre">
						</form>
					</article>
					<figure><!--MIEMBRO-->
						<div>
							<img src="img/relleno_01.jpg">
						</div>
						<a data-toggle="modal" data-target="#arbitro"><span>Nombre Apellido</span></a>
					</figure>
					<figure><!--MIEMBRO-->
						<div>
							<img src="img/relleno_02.jpg">
						</div>
						<a data-toggle="modal" data-target="#arbitro"><span>Nombre Apellido</span></a>
					</figure>
					<figure><!--MIEMBRO-->
						<div>
							<img src="img/relleno_03.jpg">
						</div>
						<a data-toggle="modal" data-target="#arbitro"><span>Nombre Apellido</span></a>
					</figure>
					<figure><!--MIEMBRO-->
						<div>
							<img src="img/relleno_04.jpg">
						</div>
						<a data-toggle="modal" data-target="#arbitro"><span>Nombre Apellido</span></a>
					</figure>
					<figure><!--MIEMBRO-->
						<div>
							<img src="img/relleno_05.jpg">
						</div>
						<a data-toggle="modal" data-target="#arbitro"><span>Nombre Apellido</span></a>
					</figure>
					<figure><!--MIEMBRO-->
						<div>
							<img src="img/relleno_06.jpg">
						</div>
						<a data-toggle="modal" data-target="#arbitro"><span>Nombre Apellido</span></a>
					</figure>
					<figure><!--MIEMBRO-->
						<div>
							<img src="img/relleno_07.jpg">
						</div>
						<a data-toggle="modal" data-target="#arbitro"><span>Nombre Apellido</span></a>
					</figure>
					<figure><!--MIEMBRO-->
						<div>
							<img src="img/relleno_08.png">
						</div>
						<a data-toggle="modal" data-target="#arbitro"><span>Nombre Apellido</span></a>
					</figure>
					<figure><!--MIEMBRO-->
						<div>
							<img src="img/relleno_09.jpg">
						</div>
						<a data-toggle="modal" data-target="#arbitro"><span>Nombre Apellido</span></a>
					</figure>
					<figure><!--MIEMBRO-->
						<div>
							<img src="img/relleno_10.jpg">
						</div>
						<a data-toggle="modal" data-target="#arbitro"><span>Nombre Apellido</span></a>
					</figure>
					<figure><!--MIEMBRO-->
						<div>
							<img src="img/relleno_11.jpg">
						</div>
						<a data-toggle="modal" data-target="#arbitro"><span>Nombre Apellido</span></a>
					</figure>
					<figure><!--MIEMBRO-->
						<div>
							<img src="img/relleno_12.jpg">
						</div>
						<a data-toggle="modal" data-target="#arbitro"><span>Nombre Apellido</span></a>
					</figure>
				</div>
			</div>
		</section>
	</div>