	<!--FOTOS-->
    <!--Foto ampliada-->
    <div class="modal fade" tabindex="-1" role="dialog" id="foto_detalle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="img/imagen-noticia.jpg">
                </div>
            </div>
        </div>
    </div>
	<!--Portada-->
	<div class="center-block secciones" data-uk-scrollspy="{cls:'uk-animation-scale-up'}">
		<div id="carousel-banner" class="carousel slide carousel-fade" data-ride="carousel">
			<!--Imagenes-->
			<div class="carousel-inner portada" role="listbox">
				<div class="item active" id="item_1"
					style="
					background-image: url(img/relleno_01.jpg);
					filter: blur(3px);
					-webkit-filter: blur(3px);
					-moz-filter: blur(3px);
					-o-filter: blur(3px);
					-ms-filter: blur(3px);
					">
				</div>
				<div class="carousel-caption cap">
					<h3>Media</h3>
					<div class="bloque">
						<p>
							Disfruta de nuestros álbumes de fotos y videos relacionados al mundo del arbitraje y del fútbol
						</p>
					</div>
				</div>
			 </div>
		</div>
		<hr>
		<div class="center-block text-center">
			<h2>Nombre del álbum</h2>
		</div>
	</div>
	<!--Modulos-->
	<div class="wrapper">
        <button class="izq_abajo back">Volver</button>
		<div class="masonry_contenedor">
			<!--Fotos-->
			<div class="rou">
				<section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
      				<div class="contenedor"> 
        				<div class="row no_margen cuerpo">
        					<figure data-toggle="modal" data-target="#foto_detalle">
        						<img src="img/relleno_01.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
        					</figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
        				</div>
      				</div>
    			</section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_02.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_03.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_04.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_05.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_06.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_07.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_08.png">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_09.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_10.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_11.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_12.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_13.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_14.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_15.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_16.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_17.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_18.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_19.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/imagen-noticia.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_01.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_02.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_03.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_04.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_05.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_06.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_07.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_07.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_10.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="fotos" data-uk-scrollspy="{cls:'uk-animation-fade'}"><!--FOTO-->
                    <div class="contenedor"> 
                        <div class="row no_margen cuerpo">
                            <figure data-toggle="modal" data-target="#foto_detalle">
                                <img src="img/relleno_09.jpg">
                                <div>
                                    <div>
                                        <div>
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <article>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
			</div>
		</div>
    </div>