    
    <div class="uk-container-center cnt" ng-init="tab = 3"><!--CONTENEDOR GRAL-->
                    <!--INICIO VISTA1-->
                    <nav class="mn_vista">
                    
                        <ul>
                         <li class="btn_mn_vista" ng-class="{ 'act_1' : tab === 1 }"ng-click="selectTab(1)"><a ng-href="#/nosotros_portada">Portada</li>
                        <li class="btn_mn_vista" ng-class="{ 'act_1' : tab === 2 }"ng-click="selectTab(2)"><a ng-href="#/nosotros">Nosotros</a></li>
                        <li class="btn_mn_vista" ng-class="{ 'act_1' : tab === 3 }"ng-click="selectTab(3)"><a ng-href="#/directiva">Directiva</a></li>
                        <li class="btn_mn_vista" ng-class="{ 'act_1' : tab === 4 }"ng-click="selectTab(4)"><a ng-href="#/miembros">Miembros</a></li>
                        </ul>
                        <hr>
                    </nav>
                    <!--INICIO SUBSECCION A1-->
                    <div class="subseccion" id="subseccion_a1">
                        <div class="uk-grid bug">
                          
                            <!--INICIO COLUMNA IZQUIERDA-->
                            
                            <div class="uk-width-1-1 uk-width-small-1-1 uk-width-medium-1-2 uk-width-large-1-2 uk-grid-width-xlarge-1-2 izq">
                            <br><br>
                               <form class="uk-form uk-form-stacked frm" name="upload">
                               
                                    <div class="uk-form-row">
                                        <label class="uk-form-label" for="form-h-it"><h2>Título</h2></label>
                                        <div class="uk-form-controls">
                                            <input   type="text" id="form-h-it" ng-model="titulo" placeholder="{{ data[0].titulo }}">
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <label class="uk-form-label" for="form-h-t"><h2>Descripcion</h2></label>
                                        <div class="uk-form-controls">
                                            <textarea id="form-h-t" rows="5" ng-model="txt1" placeholder="{{ data[0].descripcion }}"></textarea>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="fileinput-new btn_ctrl_subseccion_2"><!--GUARDAR CAMBIOS-->
                                            <div class="btn_icn_subseccion_2"><i class="uk-icon-save icn_subs"></i></div>
                                            <div class="txt_btn_icn_subseccion_2" ng-click="directiva()">guardar cambios</div>
                                    </div>
                                   
                                    <br/>
                               </form>
                            </div>
                            <!--FIN COLUMNA IZQUIERDA-->
                            <!--INICIO COLUMNA DERECHA-->
               
                            
                            
                            <!--FIN COLUMNA DERECHA-->
                        </div>
                    </div>
                    <!--FIN SUBSECCION A1-->
                    <!--FIN VISTA1-->
                </div>
          

