    <div class="uk-container-center cnt" ng-init="tab = 2"><!--CONTENEDOR GRAL-->

                    <!--INICIO VISTA1-->
                    <nav class="mn_vista">
                        <ul>
                         <li class="btn_mn_vista" ng-class="{ 'act_1' : tab === 1 }"ng-click="selectTab(1)"><a ng-href="#/servicios_portada">Portada</li>
                        <li class="btn_mn_vista" ng-class="{ 'act_1' : tab === 2 }"ng-click="selectTab(2)"><a ng-href="#/servicios">Servicios</a></li>
                        </ul>
                        <hr>
                    </nav>
                    <!--INICIO SUBSECCION A1-->
                    <div class="subseccion" id="subseccion_a1">
                        <div class="uk-grid bug">
                          
                            <!--INICIO COLUMNA IZQUIERDA-->
                            
                 
                            <!--FIN COLUMNA IZQUIERDA-->
                            <!--INICIO COLUMNA DERECHA-->
                            <div class="uk-width-1-1 uk-width-small-1-1 uk-width-medium-1-1 uk-width-large-1-1 uk-grid-width-xlarge-1-1 ">
                            <br><br>
                            <div id='hola'></div>
                            </div>
                            
                            
                            <!--FIN COLUMNA DERECHA-->
                        </div>
                    </div>
        <div id="producto" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body modal-body-producto">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <form class="uk-form uk-form-stacked frm">
                        
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="form-h-it">
                                <h2>
                                    Categoria
                                </h2>
                            </label>
                            <select ng-model="estado">
                                <option value="visible">Visible</option>
                                <option value="espera">Espera</option>
                            </select>
                        </div>
                  
                    </form>
                    <div id="pro"></div><!-- Contenedor de la vida-->
                  

                </div>

                <div class="fileinput-new btn_ctrl_subseccion centrar"><!--ELIMINAR PRODUCTO-->
                    <div class="btn_icn_subseccion">
                        <i class="uk-icon-trash-o icn_subs"></i>
                    </div>
                    <div class="txt_btn_icn_subseccion" ng-click="actualizar()">
                        Cambiar estado
                    </div>
                </div>
                <div class="fileinput-new btn_ctrl_subseccion centrar"><!--ACTUALIZAR-->
                    <div class="btn_icn_subseccion">
                        <i class="uk-icon-refresh icn_subs"></i>
                    </div>
                    <div class="txt_btn_icn_subseccion" ng-click="eliminar()">
                        Eliminar Noticia
                    </div>
                </div> 
            </div>
        </div>                          
    </div>
                </div>
          

